
.statusWrapper{
	width: auto;
	margin: 0 0 30px 0;
}
.status {
  width:auto;
}

.changeStatusBlock{
	width: auto;
	height: 20px;
}

.changeStatus{
	height: 20px;
	
	
}
.statusBlockBlur{
	padding: 0 5px;

}
.statusBlockBlur:hover{
	background-color: rgb(122, 108, 108);
	border-radius: 5px;
	
}